@model Game.Web.Models.GameViewModel
<div id="wrapperDiv">
    <div class="row">
        <div class="col-md-12">
            <div>
                <span>You have: </span>
                <span id="guesses">@Model.Guesses</span>
                <span>guesses left.</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div >
                <form id="formLetters" method="GET" action="@Url.Action("GuessLetter")">
                    <div>
                        @{
                            var letters = Model.UsedLetters;
                            for (int i = 0; i < letters.Length; i++)
                            {
                                if (i%9 == 0)
                                {
                                    <br/>
                                }
                                if (char.IsUpper(letters[i]))
                                {
                                    <a class="key btn btn-default" href="#">@(letters[i])</a>
                                }
                                else
                                {
                                    <span class="btn btn-warning disabled" id="@i">@(char.ToUpper(letters[i]))</span>
                                }
                            }
                        }
                    </div>
                    <input id="hiddenInput" type="hidden" name="letter"/>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div>You play for @Model.TypeOfWord : </div>
                <div class="panel-body">
                    @{
                        for (int i = 0; i < Model.PartialWord.Length; i++)
                        {
                            if (char.IsLetter(Model.PartialWord[i]))
                            {
                                <span>@Model.PartialWord[i]</span>
                            }
                            else
                            {
                                <span id="@i">_</span>
                            }
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/Scripts/hangman-game.js")
